@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Manrope";
  padding: 5.7rem 2.4rem;
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
}
.whole-card {
  padding-top: 3.2rem;
  background: url(./images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: top;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.4rem;
}

h1 {
  color: #293356;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
}

.header-p {
  color: #848ead;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.3;
  width: 56%;
}

main {
  background-color: #ffffff;
  padding: 3.4rem 2.4rem;
  border-radius: 0.8rem;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.15);
}

.p-input-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.viewers {
  color: #848ead;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 1.714px;
}

#price-input {
  appearance: none;
  width: 100%;
  height: 0.8rem;
  background: linear-gradient(
    to right,
    hsl(174, 77%, 80%) 100%,
    hsl(174, 77%, 80%) 50%,
    hsl(224, 65%, 95%) 0%,
    hsl(224, 65%, 95%) 100%
  );
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 0.5rem;
}

#price-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #10d8c4;
  background-image: url(images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
}

.price-p {
  color: #293356;
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: -0.8px;
}

.month {
  color: #848ead;
  font-size: 1.4rem;
  font-weight: 600;
}

.billing-div {
  margin-top: 3.6rem;
  margin-bottom: 3.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
hr {
  background-color: #ecf0fb;
  margin-bottom: 2.4rem;
}

.billing-div > p,
.billing-div > span {
  color: #848ead;
  font-size: 1.2rem;
  font-weight: 600;
}

/* style toggle box --------------------------*/
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 4.3rem;
  height: 2.2rem;
  background: grey;
  display: block;
  border-radius: 3rem;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 2rem;
  height: 2rem;
  background: #fff;
  border-radius: 1rem;
  transition: 0.3s;
}

input:checked + label {
  background: #80fff3;
}

input:checked + label:after {
  left: calc(100% - 0.1rem);
  transform: translateX(-100%);
}

.discount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.1rem;
  height: 1.9rem;
  border-radius: 9.5px;
  background: #feede8;
  color: #ff8d68;
  font-size: 1rem;
  font-weight: 800;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info-p {
  color: #848ead;
  font-size: 1.2rem;
  font-weight: 600;
}

.check {
  width: 6.949px;
  height: 5.042px;
}

button {
  margin-top: 3.3rem;
  border: none;
  border-radius: 2.05rem;
  padding: 1.2rem 4.6rem;
  background-color: #293356;
  width: 70%;
  margin-left: 50%;
  transform: translate(-50%);
  color: #becdff;
  text-align: center;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 800;
}
